.phonebox{
    margin:0;
    padding: 0;
}
.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.greenbg{
    background-color: #155252;
}
h4{
    background-color:black;
    padding:10px;
}

.blbox {
    padding-top:0.5rem;
}
label {
    font-size:18px; color:black;
}
.rd,.error{
    color:red;
}
.dp{
    border-radius: 50%;
}
